#homepage {
    grid-area: page;
    display: grid;
    grid-template-areas: 
        ". ."
        "welcome-header img"
        ". .";
        grid-template-rows: 20% 1fr 20%;
        grid-template-columns: 50% 50%;
}
#homepage header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: welcome-header;
    padding-left: 100px;
}
#homepage header h1 {
    margin: 0;
    font-size: 50pt;
    line-height: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#homepage header p {
    margin: 20px 0 0 5px;
    font-size: 18pt;
    color: var(--text-secondary);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
#homepage #portrait {
    grid-area: img;
    display: grid;
    place-items: center;
}
#homepage #portrait img {
    width: 400px;
    border-radius: 50%;
    margin-right: 15%;
}