nav {
    grid-area: nav;
    background: var(--secondary-bg);

    display: grid;
    grid-template-areas: 
        "img"
        "links"
        "social";
    grid-template-rows: auto 1fr auto;
    place-items: center;
}
#nav-image {
    overflow: hidden;
    width: var(--nav-width);
    height: calc(var(--nav-width) + 20px);
}
#nav-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;
}
nav ul li, nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-links li {
    background-color: var(--secondary-bg);
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 20pt;
    text-align: center;
    color: var(--text-secondary);
    transition: color .2s ease-out;
}
.nav-links li p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 12pt;
    position: absolute;
    width: var(--nav-width);
    word-break: break-all;
    height: 70px;
    line-height: 16px;
    opacity: 0;
    transition: opacity .2s ease-out;
    color: var(--main-accent)
}
.text-reveal li svg {
    transition: opacity .3s;
}
.text-reveal li:hover svg {
    opacity: 0;
}
.text-reveal li:hover p {
    opacity: 1;
}
#current-page-link {
    color: var(--main-accent) !important
}

.nav-social {
    margin-bottom: 10px;
}
.nav-social li, .nav-social li p {
    height: 50px;
    line-height: 50px;
    font-size: 15pt;
}
.nav-social li:hover {
    color: var(--main-accent)
}