nav {
    grid-area: nav;
    background: var(--secondary-bg);
    display: grid;
    grid-template-areas: 
        "hamburger"
        "links"
        "social";
    grid-template-rows: 150px 1fr 150px;
    align-items: center;
    z-index: 9;
    transition: width .2s ease-out, height .2s ease-out;
    width: var(--nav-width);
    overflow: hidden;
    /* border-right: 1px solid var(--main-accent); */
}
nav.open {
    width: 220px;
}
#nav-header {
    overflow: hidden;
    width: var(--nav-width);
    height: var(--nav-width);
    display: grid;
    align-items: center;
}
#nav-header a {
    display: block;
    font-size: 20pt;
    font-weight: 600;
    margin: 0;
    position: relative;
}
#nav-header a:after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0px;
    height: 4px;
    background-color: var(--main-accent);
    width: 0%;
    transition: width .2s ease-out;
}

#nav-header:hover a:after {
    width: 100%;
}
nav ul li, nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-links, .nav-social {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-links li, .nav-social li {
    background-color: var(--secondary-bg);
    width: 100%;
    height: var(--nav-width);
    line-height: var(--nav-width);
    font-size: 20pt;
    text-align: center;
    color: var(--text-secondary);
    transition: color .2s ease-out;
}
.nav-links {
    grid-area: links;
}
.nav-links li a {
    display: flex;
    align-items: center;
    height: 100%;

    position: relative;
}
.nav-links li p {
    display: flex;
    align-items: center;
    margin: 0;
    min-width: calc(220px - var(--nav-width));
    text-align: left;
    font-size: 12pt;
    position: absolute;
    left: var(--nav-width);
    height: var(--nav-width);
    line-height: 16px;
    opacity: 0;
    transition: opacity .2s ease-out;
}
.nav-links li p .open{
    opacity: 1;
}
.nav-links li i {
    width: var(--nav-width);
}
.nav-links li i svg {
    transition: opacity .3s ease-out, color .2s ease-out;
}
.nav-links li:hover svg {
    color: var(--main-accent);
}
.nav-links li {
    position: relative;
}
.nav-links li:after {
    transition: position .2s;
    position: absolute;
    display: block;
    content: "";
    top: 36px;
    bottom: 36px;
    width: 0px;
    border-radius: 0 4px 4px 0;
    background-color: var(--main-accent);
    transition-property: width, top, bottom;
    transition-duration: .15s;
    transition-timing-function: ease-out;
}
.nav-links li:hover:after {
    top: 22px;
    bottom: 22px;
    width: 4px;
}
#current-page-link:after {
    top: 10px;
    bottom: 10px;
    width: 4px;
}
#current-page-link i {
    color: var(--main-accent);
}
.nav-social {
    grid-area: social;
    display: flex;
    align-items: left;
}
.nav-social li {
    width: var(--nav-width);
}
.nav-social li a {
    display: block;
}
.nav-social li, .nav-social li p {
    height: 50px;
    line-height: 50px;
    font-size: 15pt;
}
.nav-social li:hover {
    color: var(--main-accent)
}

#menu {
    grid-area: hamburger;
    display: grid;
    place-items: center;
    width: var(--nav-width);
    height: var(--nav-width);
    position: relative;
    user-select: none;
    font-size: 1.2rem;
}
#menu:hover {
    cursor: pointer;
}

.hamburger-icon {
    width: 24px;
    height: 19px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.hamburger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background: var(--text-primary);
    opacity: 1;
    left: 0;
    transition: .3s ease-in-out;
}

.hamburger-icon span:nth-child(1) {
    top: 0px;
}

.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3) {
    top: 8px;
}

.hamburger-icon span:nth-child(4) {
    top: 16px;
}

.hamburger-icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

.hamburger-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

@media(max-width: 1024px) {
    nav {
        grid-template-areas: 
            "social links hamburger";
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: var(--nav-width);
        width: initial;
        height: var(--nav-width);
    }
    nav.open {
        width: initial;
        height: 220px;
    }
    .nav-links, .nav-social {
        height: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .nav-links li, .nav-social li {
        height: 100%;
        width: var(--nav-width);
        line-height: var(--nav-width);
    }
    .nav-links li {
        transform: rotate(90deg);
    }
    .nav-links li svg{
        transform: rotate(-90deg);
    }
  }
@media(max-width: 610px) {
    nav {
        grid-template-areas: 
            "social hamburger"
            "links links";
        grid-template-columns: 1fr 72px;
        grid-template-rows: var(--nav-width);
        position: relative;
        transition-duration: .35s;
    }
    nav.open {
        height: calc(5 * var(--nav-width));
    }
    #menu:after {
        transition: position .2s;
        position: absolute;
        display: block;
        content: "";
        top: 0px;
        right: 10px;
        left: 10px;
        bottom: initial;
        height: 4px;
        border-radius: 0 0 4px 4px;
        background-color: var(--main-accent);
        transition-property: width, top, bottom;
        transition-duration: .15s;
        transition-timing-function: ease-out;
    }
    .nav-links {
        height: initial;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        transition: right .3s ease-out;
    }
    .nav-links.open {
        right: 0px;
    }
    .nav-links li{
        height: var(--nav-width);
        width: 100%;
        line-height: var(--nav-width);
        transform: none;
    }
    .nav-links li p {
        min-width: initial;
    }
    .nav-links li svg {
        transform: rotate(0deg);
    }
    .nav-social {
        justify-content: left;
    }
  }