
:root {
  --main-bg: #1d1d1d;
  --secondary-bg: #181818;
  --main-accent: #d62828;
  --text-primary: #f8f8f8;
  --text-secondary: #bbbbbb;

  --nav-width: 70px;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  background: rgb(29,29,29);
  background: rgb(29,29,29);
  background: linear-gradient(145deg, #1d1d1d 0%, #1d1d1d 60%, #131c33 75%, #122e69 100%);
  color: var(--text-primary);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-areas: "nav page";
  grid-template-columns: var(--nav-width) 1fr;;
	height: 100vh; 
  border-bottom: 4px solid var(--main-accent);
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}